.side-nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;

      &:visited {
        color: unset;
      }

      li {
        font-size: 1.6rem;
        padding: 0.75rem;
        border-bottom: 1px solid #ccc;

        &:hover, &.selected {
          background: #202020;
          color: white;
        }
      }
    }
  }
}
